In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('data/skill_cluster_df.csv', index_col=False)

In [17]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df['name'] = df['name'].apply(lambda x: x.lower())

In [18]:
df.head()

       id            roles  trend_id        name              kind
0  550246  ['engineering']        81         iis  Software systems
1  550246  ['engineering']    134814      c #sh%  Software systems
2  550246  ['engineering']        41      matlab  Software systems
3  550246  ['engineering']       323      jquery  Software systems
4  550246  ['engineering']        35  javascript  Software systems

In [21]:
df_txt = df.groupby(['id'])['name'].apply(lambda x: ', '.join(x)).reset_index()