In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.decomposition import NMF, LatentDirichletAllocation

In [2]:
df = pd.read_csv('data/skill_cluster_df.csv', index_col=False)

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)
df['name'] = df['name'].apply(lambda x: x.lower())

In [4]:
df.head()

       id            roles  trend_id        name              kind
0  550246  ['engineering']        81         iis  Software systems
1  550246  ['engineering']    134814      c #sh%  Software systems
2  550246  ['engineering']        41      matlab  Software systems
3  550246  ['engineering']       323      jquery  Software systems
4  550246  ['engineering']        35  javascript  Software systems

In [5]:
word_list = df['name'].unique()

In [6]:
word_list[:10]

array(['iis', 'c #sh%', 'matlab', 'jquery', 'javascript', 'php', 'python',
       'unix', 'assistant', 'java'], dtype=object)

In [7]:
word_len = []
for word in word_list:
    word_len.append(len(word.split()))

In [8]:
max(word_len)

28

In [9]:
word_dict_cnt = {}
for word in df['name']:
    if word in word_dict_cnt:
        word_dict_cnt[word] = word_dict_cnt[word] + 1
    else:
        word_dict_cnt[word] = 1

In [10]:
# sorted(word_dict_cnt.items(), key=lambda x: x[1], reverse=True)[:10]

In [12]:
word_dict_ord = {}
for word, ind in zip(sorted(word_list), xrange(len(word_list))):
    word_dict_ord[word] = ind

In [13]:
{k: word_dict_ord[k] for k in word_dict_ord.keys()[:10]}

{'collegearizona state university': 8941,
 'construction intern': 10027,
 'coo and marketing d epartment': 10296,
 'electronics and communications': 14921,
 'financial services assurance senior associate': 16917,
 'product management club': 35146,
 'programmer analyst/': 35443,
 'software developer intern toronto': 41435,
 'technology university of changsha': 45784,
 'ui automation tester': 47400}

In [14]:
df_txt = df.groupby(['id'])['name'].apply(lambda x: ' '.join(x)).reset_index()

In [15]:
df_txt.head()

       id                                               name
0  531968  postgres java jquery javascript ios linux tech...
1  531982  objective-c mysql computer science developer f...
2  532069  c++ ios stanford university catlin gabel schoo...
3  532082                                            php gni
4  532092  php mysql css python java jquery javascript co...

In [16]:
cv = CountVectorizer(vocabulary=word_dict_ord, ngram_range=(1,10))
tf = TfidfVectorizer(vocabulary=word_dict_ord, ngram_range=(1,10))

In [17]:
count = cv.fit_transform(df_txt['name'])
tfidf = tf.fit_transform(df_txt['name'])

In [19]:
count.shape, tfidf.shape

((20234, 52497), (20234, 52497))

In [28]:
nmf_cv = NMF(n_components=15, random_state=1, alpha=.1, l1_ratio=.5).fit(count)
nmf_tf = NMF(n_components=15, random_state=1, alpha=.1, l1_ratio=.5).fit(tfidf)

In [34]:
lda_cv = LatentDirichletAllocation(n_topics=15, max_iter=5,
                                learning_method='online', learning_offset=50.,
                                random_state=0).fit(count)
lda_tf = LatentDirichletAllocation(n_topics=15, max_iter=5,
                                learning_method='online', learning_offset=50.,
                                random_state=0).fit(tfidf)

In [29]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic #%d:" % topic_idx)
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))
        print "\n"

In [31]:
print("\nTopics in NMF model using count vectorizer:")
count_feature_names = cv.get_feature_names()
print_top_words(nmf_cv, count_feature_names, 10)

Topics in NMF model using count vectorizer:
Topic #0:
university, matlab, python, java, stanford, mellon, mellon university, carnegie mellon university, department, stanford university


Topic #1:
engineer, software engineer, senior software, senior software engineer, software development, engineer software, systems, development engineer, principal, consultant


Topic #2:
developer, software developer, web developer, ios, web applications, developer intern, team, jquery, lead developer, php


Topic #3:
ruby, rails, ruby on rails, javascript, css, jquery, postgresql, python, ios, founder


Topic #4:
assistant, research assistant, teaching assistant, department, matlab, computer science, python, department of, java, ieee


Topic #5:
sql, sql server, asp, xml, analyst, microsoft sql server, java, ms sql server, web services, data mining


Topic #6:
institute, institute of, institute of technology, indian institute, indian institute of, indian institute of technology, matlab, python, computer science, georgia institute


Topic #7:
windows, linux, os, mac os, xp, ubuntu, unix, windows xp, windows server, windows phone


Topic #8:
android, java, sdk, ios, android sdk, xml, sqlite, mobile application, computer science, android software


Topic #9:
state, state university, university, jose state university, san jose state, san jose state university, college, web services, state university of new, university of new york


Topic #10:
system, systems, linux, operating system, unix, java, management system, python, administrator, data structures


Topic #11:
javascript, css, mysql, php, java, jquery, python, computer science, xml, linux


Topic #12:
school, high, high school, school of, college, computer science, school of engineering, department, python, java


Topic #13:
intern, computer science, python, java, software engineering, engineering intern, software engineering intern, engineer intern, data structures, software development


Topic #14:
university of, university, university of california, matlab, university of texas, python, computer science, university of southern, university of southern california, university of technology

In [35]:
print("\nTopics in NMF model using tfidf:")
tfidf_feature_names = tf.get_feature_names()
print_top_words(nmf_tf, tfidf_feature_names, 10)

Topics in NMF model using tfidf:
Topic #0:
jquery, css, javascript, mysql, php, postgresql, sql, photoshop, xml, jsp


Topic #1:
engineer, software engineer, senior software, senior software engineer, engineer software, software development, development engineer, principal, software development engineer, engineer intern


Topic #2:
ruby, rails, ruby on rails, postgresql, javascript, sql, css, jquery, founder, web applications


Topic #3:
university of, university, intern, university of california, software engineering, engineering intern, computer science, software engineering intern, data structures, engineer intern


Topic #4:
developer, software developer, web developer, developer intern, software developer intern, web applications, ios, php, lead developer, intern


Topic #5:
sql server, sql, asp, microsoft sql server, xml, ms sql server, analyst, university, web services, jsp


Topic #6:
institute of, institute, institute of technology, indian institute, indian institute of, indian institute of technology, georgia institute, georgia institute of, georgia institute of technology, national institute


Topic #7:
system, operating system, management system, university, database management system, data structure, system software, unix, linux, bachelor of engineering


Topic #8:
state, state university, jose state university, san jose state, san jose state university, university, state university of new, state university of new york, university of new york, web services


Topic #9:
python, java, matlab, unix, javascript, mysql, linux, sql, php, perl


Topic #10:
ec2, amazon ec2, web services, cloud computing, mysql, s3, amazon s3, apis, postgresql, systems


Topic #11:
windows, linux, os, mac os, ubuntu, unix, systems, xp, windows xp, administrator


Topic #12:
android, ios, sdk, android sdk, sqlite, java, xml, mobile application, android software, android java


Topic #13:
school, high, high school, school of, school of engineering, college, university, computer science, mellon, mellon university


Topic #14:
assistant, research assistant, teaching assistant, university, department, department of, matlab, assistant computer science, computer science, graduate teaching assistant

In [36]:
print("\nTopics in LDA model using count vectorizer:")
cv_feature_names = cv.get_feature_names()
print_top_words(lda_cv, cv_feature_names, 10)

Topics in LDA model using count vectorizer:
Topic #0:
university of hawaii, epa, integrated system, clark university, domain controller, national competition, constant contact, service management, foreman, central michigan university


Topic #1:
public school, public, university of management, consultant developer, mca, master of computer applications, major league, independent consultant, maharishi university, maharishi university of


Topic #2:
harvard, school, high, harvard university, high school, college, national merit, corps, network engineer, ocaml


Topic #3:
indian institute, indian institute of, indian institute of technology, cornell, cornell university, fudan, pennsylvania state, pennsylvania state university, fudan university, state college


Topic #4:
berkeley, university of california, uc, alpha, softwaredeveloper, illinois institute, illinois institute of technology, intern university, engineering intern university of california, university of california berkeley


Topic #5:
director, board, york university, new york university, education, carleton, university new york, army, carleton college, syracuse university


Topic #6:
assistant, school, university, department, department of, research assistant, institute, matlab, school of, mellon


Topic #7:
university, engineer, java, developer, sql, javascript, university of, python, intern, software engineer


Topic #8:
mit, kansas, ucsb, product engineer, decision support system, university of kansas, ncaa, uml, kansas state, kansas state university


Topic #9:
institute of, institute, institute of technology, rochester institute, rochester institute of, rochester institute of technology, engineering and technology, institute of engineering, rit, college of engineering and technology


Topic #10:
boston, duke, duke university, princeton, boston university, princeton university, tong university, jiao tong university, shanghai jiao tong university, teachingassistant


Topic #11:
ohio state, ohio state university, state, state university, content manager, osu, base programmer, computer science engineer, university columbus, thomas jefferson high school


Topic #12:
graduate school of business, city university of new, city university of new york, university of north texas, center operations, baylor, engineering team lead, shanghai university of finance, po, global network


Topic #13:
computerscience, softwareengineer, lead software engineer, datastructures, softwaredevelopment, objectoriented, webservices, cloudcomputing, userinterface, sqlserver


Topic #14:
foundation, national science, science foundation, national science foundation, president, reserve, aa, science club, national laboratory, executive

In [37]:
print("\nTopics in LDA model using count vectorizer:")
tf_feature_names = tf.get_feature_names()
print_top_words(lda_tf, tf_feature_names, 10)

Topics in LDA model using count vectorizer:
Topic #0:
harvard, university of electronic science, university of electronic, national olympiad, college of computer and information science, harvard university, university of electronic science and technology, electronic science and technology of china, cal poly, university of electronic science and technology of china


Topic #1:
vit university, bilkent university, american express, minnesota state university, technical design authority, sous chef, information engineering university, dca, senior systems architect, brain sciences


Topic #2:
colgate university, international science, university of adelaide, indian student organization, security agency, international academy, ms office word, pi honor society, car buyers, national security agency


Topic #3:
servlets, artificial neural network, crude oil, mutual fund, university of quebec, mma, peace corps, unix os, bank customers, regional contest


Topic #4:
senior statistical scientist, senior technical associate, advanced programming, integratedcircuit, resources management university of mindanao, university of mindanao bolton, elecrical, election day, unix server, ministry of information technology


Topic #5:
college of engineering and computer science, smith college of engineering, smith college of engineering and computer science, ipaddresses, siddhartha engineering college, bachelorofcomputerscience, superintendent, education board, financial operations, vmp


Topic #6:
portable devices, base class, johns hopkins university applied physics laboratory, laude society, engineering trainee, rov, university of jordan, human resources management system, juris doctor, cum laude society


Topic #7:
university, engineer, developer, java, sql, javascript, software engineer, python, assistant, university of


Topic #8:
university of chicago chicago, technology advisor, civil rights, department of finance, singapore armed, gni, singapore armed forces, contract management, university of international business and economics, center for talented youth


Topic #9:
norfolk state university, voorhees college, experience program intern, technology lab assistant, national nuclear security administration, southeast university, national chemistry olympiad, technical staff software engineer, high performance systems, chemistry olympiad


Topic #10:
minecraft, deans office, data software engineer, bhoomaraddi college of engineering and technology, oberlin college, leadership skills, operating systems and systems programming, cctv, tech analyst, national institute of technology durgapur


Topic #11:
piper, aip, source code control system, abbey, coursera rice university, la sorbonne, systems engineering team, animal health, french institute, department of sociology


Topic #12:
ned university of engineering and technology, ncs, la verdad christian college, ognl, bulletin board, university record system, assistant teacher, zee institute of creative art, the north university of china, recreation stevens institute of technology


Topic #13:
act, mac address, searchqueries, developmentengineer, ecos, americans with disabilities act, brainfuck, wirelesstechnologies, anita borg institute grace, software developmentengineer


Topic #14:
swarthmore, chi fraternity, swarthmore college, program analyst, bowdoin, development team building, vice president of operations, applied research engineer, component object model, bowdoin college